* {
    margin: 0;
    padding: 0;    
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #188FAE;
    transform: skew(0deg, -10deg);
    top: -480px;
    z-index: -1;
    box-shadow: 0px 2px 6px gray;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
    max-width: 900px;
    box-sizing: content-box;
}

.header img, picture img {
    max-height: 500px;
}

.image-container {
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    position: absolute;
    bottom: 8px;
}

.about {
    background-color: white;
    box-shadow: 0px 2px 6px gray;
    padding: 15px 20px 20px 20px;
}

.about p {
    color: #565656;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 20px;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 40px;
}

.projects {
    margin: 70px 50px;    
    max-width: 900px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.screenshot1, .screenshot2, .screenshot3, .screenshot4, .screenshot5, .screenshot6 {
    background-color: #9b2325;
    color: white;
    padding: 30px 30px 50px 30px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.screenshot2 {
    background-color: #7b74c5;
}

.screenshot3 {
    background-color: #5e8d52;
}

.screenshot4 {
    background-color: #c063af;
}

.screenshot5 {
    background-color: #d68e45;
}

.screenshot6 {
    background-color: #4ea0ce;
}

h4 {
    color: #565656;
    font-weight: 500;
}

.card-text {
    padding: 10px;
    box-shadow: 0px 2px 6px gray;
    background-color: white;
}

.card-text p {
    font-size: 12px;
    color: #565656;
    margin-top: 5px;
    margin-bottom: 30px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links2 svg {
    margin-left: 5px;
    margin-right: 5px;
}

.contact {
    background-color: #188FAE;
    width: 100%;
    color: white;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    line-height: 1.2;
    font-weight: 300;
}

.contact-text {    
    max-width: 300px;
}

.contact-text p, .email, .phone {
    margin-top: 10px;
    margin-bottom: 20px;
}

.links3 svg {
    margin-right: 15px;
}

.phone, .email {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 1600px) {

    .header {
        max-width: 1000px;
        display: inline;
    }
    
    .image-container {
        float: left;
        margin-left: -40px;
        margin-right: 15px;
        box-shadow: 0px 2px 6px gray;
    }

    .image-container img, picture img {
        max-height: 300px;
    }

    .name {
        font-size: 48px;
        top: 10px;
        right: -300px;
    }  

    .about {
        width: 500px;
        margin-top: 120px;
        padding-bottom: 50px;
    }
    
    .links {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 250px;
    }

    .links3 svg {
        height: 25px;
    }

    .contact-text {
        font-size: 14px;
        max-width: 250px;
    }

    picture img {
        object-fit: contain;
    }

}

@media (max-width: 1100px) {

    .header {        
        min-width: 320px;
        max-width: 600px;
    }

    .name {
        font-size: 52px;
        left: 12px;
    }  

    .about {
        box-shadow: none;
        z-index: -2;
        margin-top: 15px;
        margin-bottom: 0px;
        padding: 15px 0px;
    }

    .about h1, .projects h1 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .cards, .header, .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact {
        margin-top: 50px;  
        padding: 15px 0px 0px 0px;  
        min-width: 320px;
    }

    .card {
        padding: 15px 0px;
    }

    .screenshot1, .screenshot2, .screenshot3, .screenshot4, .screenshot5, .screenshot6 {
        font-size: 42px;
    }

    .links3, .links {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

   
    .contact-text h1:nth-child(1) {
        text-align: center;
    }

    .contact-text p:nth-child(2) {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .contact-text p:nth-child(3) {
        margin-bottom: 30px;
    }

    .contact-text div:nth-child(4) {
        margin-bottom: 0px;
    }

    .phone svg, .email svg {
        display: none;
    }

    picture {
        width: 100%;
        height: 100%;
        display: flex;       
    }

    picture img {
        object-fit: cover; 
        height: auto;         
        width: 100%;
    }
}
